.vs/
.vscode/
.idea/
.cache/
.xmake/
build/
out/
cmake-build*/
vsxmake*/
CMakeUserPresets.json
CMakeCache.txt
compile_commands.json
dist/
mod/CommonwealthMP/F4SE/Plugins/*.dll
mod/CommonwealthMP/*.esp
mod/CommonwealthMP/fomod/
*.user
*.suo
*.log
Thumbs.db
data/seed/*.fos
data/dumps/*.txt
*.dmp
dist/server/session/
CK_Test.esp
**/__pycache__/
